body {
  font-family: 'Arial', sans-serif;
  background-color: #ececec;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.room {
  margin: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

#lightStatus1, #lightStatus2, #lightStatus3, #lightStatus4, #lightStatus5 {
  margin-top: 10px;
  font-weight: bold;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* Dizainas pagal išplanavimo planą */
#room1 { grid-area: room1; }
#room2 { grid-area: room2; }
#room3 { grid-area: room3; }
#room4 { grid-area: room4; }
#room5 { grid-area: room5; }

.container {
  display: grid;
  grid-template-areas:
    "room1 room2"
    "room3 room4"
    "room5 room5";
  grid-gap: 20px;
}
